[submodule "logwatch"]
	path = logwatch
	url = https://github.com/opscode-cookbooks/logwatch.git
[submodule "perl"]
	path = perl
	url = https://github.com/opscode-cookbooks/perl
[submodule "chef-mariadb"]
	path = chef-mariadb
	url = https://github.com/joerocklin/chef-mariadb.git
[submodule "cookbook-rotate-to-s3"]
	path = cookbook-rotate-to-s3
	url = https://github.com/dialt0ne/cookbook-rotate-to-s3
[submodule "chef-s3cmd"]
	path = chef-s3cmd
	url = git@github.com:fred/chef-s3cmd.git
